.helptext {
    color: yellow;
}

#invite_button {
    margin-bottom: 20px;
}

label {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 25px;
}

input {
    color: #428bca;
    border-radius: 6px;
}

#username, #password, textarea {
    color: #428bca;
}

textarea {
    height:25px;
    width: 300px;
}

#about_name {
    color: yellow;
}

#made_with {
    color:black;
}

#group_name {
    color: #ffffff;
}

.jumbotron {
    /*background-color: #ff0000;*/
    background-color: #ff3333;    
    margin-top: 20px;
    border-radius: 6px;
}

#about {
    color: #00b300;
    position: relative;
    float: right;
}

.navbar-default {
    background-color: #bfbfbf;
    border-color: #ffffff;
}

.page-header {
    background-color: #ff3333; 
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: yellow;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}


h1 a {
    color: #a6a6a6;
    font-family: 'Lobster';
}

p {
    color: #ffffff;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    /*background-color: #00b300;*/
    /*background:url("static/images/christmas_snow.jpg") no-repeat;*/
    background-image:url('{{ STATIC_URL }}images/christmas_snow.jpg');
    background-repeat:no-repeat;
    background-size:100%;
}

.page-wrap {
     width: 75%;
     margin: 0 auto;
}

.footer {
    margin-top: auto;
    float:right;
}
