{% extends "base.html" %}

{% block content %}

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Fadi Alnabolsi</h2>
                <p>
                    I am a student majoring in Computer Science at the University of Michigan Dearborn.<br>
                    I'm graduating in December!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Garrett Bostic</h2>
                <p>
                    I am a student majoring in Computer Science at the University of Michigan Dearborn.<br>
                    I'm graduating in December!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Tzvetomir Todorov</h2>
                <p>
                    I am a student majoring in Computer Science at the University of Michigan Dearborn.<br>
                    I'm graduating in December!
                </p>
            </div>
        </div>
    </div>

{% endblock %}