{% extends "base.html" %}

{% block content %}

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Fadi Alnabolsi</h2>
                <p>
                    "I'm just here so I won't get fined." - FadiSwift<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Garrett Bostic</h2>
                <p>
                    All right, let's drop this beat.<br>
                    Hey my name is Garret.<br>
                    And I'm here to say.<br>
                    Supa Hot Fire <br>
                    But I'm not a rapper<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Tzvetomir Todorov</h2>
                <p>
                    Born and raised in Bulgaria.<br>
                    Majoring in Software Engineering.<br>
                    Currently work as a QA engineer for a statup company in downtown Detroit.<br>
                </p>
            </div>
        </div>
    </div>

{% endblock %}