{% extends "base.html" %}

{% block content %}

    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Fadi Alnabolsi</h2>
                <p>
                    I'm just here so I don't get fined.
                    -Fadi Swift
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Garrett Bostic</h2>
                <p>
                    Hey y'all, my name is Garret <br>
                    And I'm here to say <br>
                    Supa Hot Fire <br>
                    But I'm not a rapper <br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 id="about_name">Tzvetomir Todorov</h2>
                <p>
                    I am a student majoring in Computer Science at the University of Michigan Dearborn.<br>
                    I'm graduating in December!
                </p>
            </div>
        </div>
    </div>

{% endblock %}