{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<a href="create_group" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<p>Current Groups:</p>
		{% for group in SecretSantaGroups %}
			<p>
				<a id="group_name" href="/secretsanta/{{group.pk}}">{{group.group_name}}</a>
			</p>
		{% endfor %}
		{% for invites in userInfo.invites.all %}
			<p>
				{{invites.group_name}}
				<a href="/secretsanta/{{invites.pk}}/accept/{{user.username}}"><button class="btn btn-primary">Accept Invite</button></a>

				<a href="/secretsanta/{{invites.pk}}/decline/{{user.username}}"><button class="btn btn-primary">Decline Invite</button></a>
			</p>
		{% endfor %}
	{% endif %}

{% endblock %}