{% extends "base.html" %}

{% block content %}
	<a href="/secretsanta/{{SecretSanta.pk}}/leave/{{user.username}}"><button>Leave Group</button></a>
	<p>Secret Santa Members: </p>
	{% for member in SecretSanta.members.all %}
		<p>{{member.first_name}} {{member.last_name}}</p>
	{% endfor %}
	
	{% if user == SecretSanta.owner %}
		{% if SecretSanta.assignments_generated == False %}
			<a href="/secretsanta/{{SecretSanta.pk}}/generateassignments/{{user.username}}"><button>Generate Secret Santa!</button></a>
		{% endif %}

		<form method="POST">{% csrf_token %}
			<p><label for="id_user_name">Invite a member:</label></p>
			<textarea name="invite" id="invite" cols="30" rows="1"></textarea>
			<p>
				<button type="submit" name="submit" value="submit">Invite</button>
			</p>
		</form>

		<p>Invites Sent:</p>
		{% for invitees in SecretSanta.invites.all %}
			<p>
			{{invitees.first_name}}  {{invitees.last_name}}
			<a href="/secretsanta/{{SecretSanta.pk}}/cancel/{{invitees.username}}"><button>Cancel Invite</button></a>
			</p>
		{% endfor %}

	{% endif %}
{% endblock %}