{% extends "base.html" %}

{% block content %}
	<p>Group: {{SecretSanta.group_name}}</p>
	<p>--------------------------------</p>

		{% if user == SecretSanta.owner %}
			{% if SecretSanta.assignments_generated == False %}
				<p>Secret Santa Members: </p>
					{% for member in SecretSanta.members.all %}
						<p id='wishlistLink'><a href="/secretsanta/{{member.username}}/wishlist">{{member.first_name}} {{member.last_name}}</a></p>
						{% if member != SecretSanta.owner %}
							<a href="/secretsanta/{{SecretSanta.pk}}/remove/{{member.username}}">Remove From Group</a>
						{% endif %}
						<br>
					{% endfor %}

					{% if SecretSanta.members.all|length != 1  %}
						<a href="/secretsanta/{{SecretSanta.pk}}/generateassignments/{{user.username}}"><button class="btn btn-primary"> Generate Secret Santa!</button></a>
					{% endif %}


				<form method="POST">{% csrf_token %}
					<p><label for="id_user_name">Invite a member:</label></p>
					<textarea name="invite" id="invite" cols="30" rows="1"></textarea>
					<button type="submit" name="submit" value="submit" class="btn btn-primary" id="invite_button">Invite</button>
				</form>
				<p>Invites Sent:</p>
				{% for invitees in SecretSanta.invites.all %}
					<p>
					{{invitees.first_name}}  {{invitees.last_name}}
					<a href="/secretsanta/{{SecretSanta.pk}}/cancel/{{invitees.username}}"><button class="btn btn-primary">Cancel Invite</button></a>
					</p>
				{% endfor %}
			{% endif %}
		{% endif %}



		{% if user != SecretSanta.owner %}
			{% for member in SecretSanta.members.all %}
					<p id='wishlistLink'><a href="/secretsanta/{{member.username}}/wishlist">{{member.first_name}} {{member.last_name}}</a></p>
			{% endfor %}
		{% endif %}

		{% if assignment %}
			<p>Your Person: {{assignment.receiver.first_name}}  {{assignment.receiver.last_name}}</p>
		{% endif %}
		<a href="/secretsanta/{{SecretSanta.pk}}/leave/{{user.username}}"><button class="btn btn-primary">Leave Group</button></a>

{% endblock %}
